[Desktop Entry]
Version=1.0
Name=FrostWire
GenericName=P2P Bittorrent and cloud downloader
Comment=Search and explore all kinds of files on the Bittorrent network and download videos from the cloud  Bittorrent
Exec=/opt/frostwire-6.8.10/frostwire %U
Icon=frostwire
Terminal=false
Type=Application
Categories=Network;FileTransfer;P2P;
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
X-Ubuntu-Gettext-Domain=frostwire
X-AppInstall-Keywords=torrent
Keywords=P2P,BitTorrent,Torrent,FrostWire,Vuze,uTorrent,Transmission,Transfer,Cloud;
